{% extends 'base.html' %}
{% load myfilters %}
{% block content %} 
<div class='container login'>
    <div class="card registr text-center">
        <article class="card-body text-center" >
            <h3 class="msg"> Восстановление пароля </h3>
            <hr>
            {% if validlink %}
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  {{field.label}}:{{ field|addclass:'form-control' }}
                {% endfor %}
                  <button type="submit" class='btn btn-info'>Изменить пароль</button>
              </form>
            {% else %}
              <h3 class='msg'>
                  Ссылка недействительна. 
              </h3>
            {% endif %}
        </article>
    </div>
</div>
{% endblock %}