{% extends 'base.html' %}
{% load myfilters %}
{% block content %} 
<div class='container login'>
    <div class="card registr text-center">
        <article class="card-body text-center" >
            <h3 class="msg"> Восстановление пароля </h3>
            <hr>
            {% if not user.is_authenticated %}
            <form method="post"> {% csrf_token %}
                {% for field in form %}
                <p> Введите email указанный при регистрации </p>
                  {{ field|addclass:'form-control'}}
                {% endfor %}
                  <button type="submit" class='btn btn-info'> Восстановить </button>
                </form>
            <hr>
            {% else %}
                <h3> Привет, {{ user.username }} </h3>
                <a href='{% url 'logout' %}'> Выйти? </a>
                <a href='{% url 'index' %}'> На главную </a>
            {% endif %} 
        </article>
    </div>
</div>
{% endblock %}