{% extends 'base.html' %}
{% block content %}
{% block title %}
    <title>{{ ad.title }}</title>
{% endblock title %}
{% if user.is_authenticated %}
    <div class='container post-container'>
        {% if ad %}
            <p> <img class='post-container' src='{{ ad.photo_ad.url }}' height='500'/> </p>
            <p> Описание: {{ ad.description }} </p>
            <p> Дата опубликования: {{ ad.date_published|date:"d F Y G:i" }} </p>
            <form method='post' action='{% url 'favor_ad' ad.id %}'>{% csrf_token %}
            <p> {{ ad.favorites }} like{{ad.favorites|pluralize}}
                <button type='submit' class="btn btn-sm btn-danger"> <i class="fas fa-heart"></i> </button>
            </p>
            </form>
            <p> Автор:
                <a href="{% url 'profile' ad.author.id %}">  {{ ad.author.username }} </b> </a>
            </p>
    </div>
    

{% endif %}

{% endif %}
{% endblock content %}

