<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ad.title }}</title>
</head>
<body>
    <p>{{ ad.title }}</p>
    <p><img alt="ad's image" src="{{ ad.photo_ad.url }}"
            style="width: 1000px; height: 1000px"></p>
    <p>{{ ad.description }}</p>
    <p>{{ ad.date_published }}</p>
    <p>{{ ad.author }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Опубликовать</button>
    </form>
</body>
</html>