{% extends 'base.html' %}

{% block content %}
<div class='container create_post mx-auto text-center'>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}
            {{field}}
        {% endfor %}
    <button type="submit" class="btn btn-info text-center" > Принять изменения </button>
    </form>
    <form action ='{% url 'ad_delete' ad.id %}' method="get">
        {% csrf_token %}
            <button type="submit" class='btn btn-danger'> Удалить объявление </button>
    </form>
</div>
{% endblock %}