{% extends 'base.html' %}
{% block content %}
{% block title %}
    <title>{{ category.title }}</title>
{% endblock title %}
{% if user.is_authenticated %}
    {% if cat %}
        <div class="album py-5">
            <div class="container">
              <div class="row">
                {% for ad in cat %}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <a href='{% url 'ad_detail' ad.id %}'> <img class="card-img-top" src = '{{ ad.photo_ad.url }}' alt="Card image cap"> </a>
                    <div class="card-body">
                      <p class="card-text"> {{ ad.description }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted"> <a href= '{% url 'profile' ad.author.id%}'> {{ad.author.username}} </a> </small>
                        <small class="text-muted"> {{ ad.date_edit|date:"d F G:i"  }} </small>
                        <small class="text-muted"> {{ ad.favorites }} like{{ad.favorites|pluralize}} </small>
                        <div class="btn-group">
                            <form method='post' action='{% url 'favor_ad' ad.id %}'>
                                {% csrf_token %} <button type='submit' class="btn btn-sm btn-danger"> <i class="fas fa-heart"></i> </button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endblock content %}
